@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Pretendard-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Pretendard-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Pretendard-ExtraBold.otf") format("opentype");
}

:root {
  --background: #111213;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Pretendard", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
}
